/*
.header {
    height: 5em;
    width: 100%;
}

.header a img {
    max-height: 100%;
    width: auto;
    height:inherit;
    display: block;
}
*/

body .main {
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.main-left {
    font-family: 'Red Hat Display', sans-serif;
    position: fixed;
    float: left;
    width:20%;
    margin-top:8%;
}

.menu{
    float: left;
/*    display: block;*/
    width: 100%;
    margin:auto;
    text-align: center;
}
.menu-icon {
    display: none;
}

.menu {
    display: block;
}

.menu ul {
    list-style-type: none;
    text-align: center;
    padding: inherit;
    font-size: 1.7em;
/*    background-color: rgba(50, 60, 400, 0.1);*/
}
.menu ul a {
    text-decoration: none;
    color: black;
}
.menu ul a:visited a:active a:link {
    text-decoration: none;
    color:black;
}

.menu ul li {
    padding: 3%;
}
.menu ul li:hover {
    font-size: 1.0em;
    background: rgba(0, 0, 0, 0.1);
}

.main-left .home-icon{
    position: relative;
    height: 5em;
    width: auto;
    margin: auto;
/*    z-index:-1;*/
/*    border-radius: 40%;*/
}

.home-icon img {
    height: 3em;
    width:auto;
    margin-top: 5%;
}

.home-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.home-icon img:hover {
    height: 3.2em;
}

.main-right {
    display: block;
    float: right;
    width:80%;
    text-align:justify;
/*    margin-top: 0%;*/
    font-size: 1.5em;
}

.main-img {
    margin:auto;
/*    display: block;*/
    position: relative;
    height: 300px; 
    width: 30%;
    overflow: hidden;
}

.main-img img{
    display: block;
    position: relative;
    height: 100%;
/*    width: 80%;*/
/*    top: -3.5em;*/
/*    bottom: 16.5em;*/
/*    bottom: -50%;*/
/*    left: 4em;*/
    margin:auto;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.main-right .heading {
    font-size: 1.2em;
/*    font-family: cursive;*/
    font-family: 'Bruno Ace SC', cursive;
    margin: 2%;
    text-align: center;
}

.main-right .description {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
/*    margin-bottom: 10%;*/
}

.skill-name {
    width: 100%;
}
.info-bar {
    width: 100%;
    height: 5%;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.2);
}

.info-bar .type {
    text-align: center;
/*    background-color:burlywood;*/
    background-color: aquamarine;
}

.info-bar .advanced {
    width: 90%;
}
.info-bar .good {
    width: 70%;
}
.info-bar .intermediate {
    width: 50%;
}

@media only screen and (max-width: 1300px) {
    .main-img img {
        position: relative;
/*        bottom: 10em;*/
/*        border-bottom-left-radius: 50%;*/
    }
}

@media only screen and (max-width: 900px) {
    .main-left {
        position: fixed;
        top: 0%;
        width: 100%;
/*        height: 10%;*/
        align-content: center;
        z-index: 10;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .menu-icon {
        position: relative;
        width: 100%;
        display: block;
        height: 4em;
        z-index: 10;
        align-content: center;
        margin: auto;
        vertical-align:middle;
    }
    
    .menu-icon img {
        position: relative;
        left: 5%;
        width: 30px;
        margin-top: 3%;
    }
    
    .menu-icon img:hover {
        width: 34px;
    }
    
    .menu {
        display: none;
        position: fixed;
        height: 100%;
/*        z-index: 10;*/
        background-color: rgba(100, 100, 100, 0.99);
    }
    .menu ul li{
/*        display: none;*/
/*        display: inline-block;*/
/*        width: 20%;*/
    }
    
    .main-img {
/*        height: 30em;*/
        width: 70%;
    }
    .main-img img {
        height: 100%;
/*        left: 20%;*/
/*        margin-top: 4em;*/
/*        border-top-left-radius: 20px;*/
/*        border-bottom-left-radius: 20px;*/
    }
    .main-right {
        position: relative;
        top: 3em;
        width:100%;
        font-size: 1.3em;
        margin-top: 4em;
    }
    .main-right .heading {
        font-size: 1.15em;
        font-family: 'Bruno Ace SC', cursive;
        margin: 8%;
        text-align: center;
    }
    .main-right .description {
        padding: 10%;
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 500px) {
    .main-img {
/*        height: 20em;*/
/*        height: 100px;*/
    }
    .main-img img {
/*        left: 20%;*/
/*
        margin-top: 4em;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
*/
    }
}

.about {
    
}

.icons a {
    margin-right: 5px
}

.icons a img{
    height: 40px;
    width: 40px;
}

